.client-our {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
    background-color: #FDAD22;
    font-size: xx-large;
}

.client-stn {
    height: 100px;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.banner {
    display: flex;
    margin-bottom: 15px;
}

.our-mission {
    font-size: xx-large;
    color: #FDAD22;
    margin-left: 10px;
    justify-items: center;
    display: flex;
    padding-top: 5px;
}

.p-one {
    margin-top: 17px;
    margin-left: 10px;
    font-size: 19.82px;
    color: black;
}


.text {
    color: white;
    height: 500px;
    width: 50%;
    justify-content: space-evenly;
    background-color: #ffff;
}

.imgtext {
    display: flex;
    flex-direction: column;
    justify-items: right;
}

.img {
    height: 500px;
    width: 100%;
}

.p1 {
    margin-top: 17px;
    margin-left: 10px;
    font-size: 19px;
    color: black;
}

.p2 {
    margin-top: 17px;
    margin-left: 10px;
    font-size: xx-large;
    color: black;
}


.touch {
    color: black;
    background-color: #f2f2f2;
    height: 300px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.quote {
    font-size: xx-large;
    font-weight: lighter;
    padding-top: 40px;
}

.quote-text {
   font-size: x-large;
   font-weight: 800;
   padding: 20px;
}

.se {
    height: 50px;
    width: 150px;
    color: #ffff;
    background-color: #FDAD22;
    margin-top: 40px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 560px;
    margin-bottom: 15px;
    margin-top: 15px;
}
