.aq {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  background-color: #fdad22;
}

.qw {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
}

.wr {
  background-color: #041F3B;
  color: #fdad22;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 60px;
  margin-left: 225px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wr > img {
  margin-left: 200px;
}

.wr1 {
  background-color: #041F3B;
  color: #fdad22;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 60px;
  margin-left: 225px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wr1 > img {
  margin-left: 152px;
}

.wr2 {
  background-color: #041F3B;
  color: #fdad22;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 60px;
  margin-left: 225px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wr2 > img {
  margin-left: 43px;
}