.ma {
    background-color: #041F3B;
    color: #fdad22;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 60px;
    margin-left: 225px;
    margin-right: 50px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ma > img {
    margin-left: 200px;
  }


  .mq {
    background-color: #f2f2f2;
    color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 1600px;
    margin-left: 225px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}  


.mq > h2 {
    font-weight: lighter;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 20px;
}

.mq > h1 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 30px;   
}

.mq > h3 {
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 20px;     
}

.enp {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    color: #fdad22;
    text-decoration: black underline;
}